#clock{
  color:blue;
  font: 2em sans-serif; 
  background: gray; 
  margin: 5px;
  padding: 5px;
  border: solid gray 2px; 
  border-radius: 10px;
  width:140px;
  text-align:center;
  font-family:serif;
}
